* {
  margin: 0;
  padding: 0;
  font-family: "Windows95Font", sans-serif;
  color: #263238;
}

@font-face {
  font-family: "Windows95Font";
  src: url("../assets/fonts/W95FA.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Desktop styles */
#desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  background-color: #f8e9f4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 10px 10px 5px;
  overflow: hidden;
  height: 95vh;
}

/* Desktop icon styles */
.icons-container {
  position: relative;
  padding-top: 3px;
  height: 100%;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90px;
}

.desktop-icon:not(:first-child) {
  margin-top: 30px;
}

.desktop-icon img {
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
}

.desktop-icon span {
  padding: 1px;
  border: 1.5px solid transparent;
  text-align: center;
  background-color: transparent;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.desktop-icon.selected img {
  background-color: transparent;
  background-image: linear-gradient(
      45deg,
      #b2738e 25%,
      transparent 25%,
      transparent 75%,
      #b2738e 75%,
      #b2738e
    ),
    linear-gradient(
      45deg,
      #b2738e 25%,
      transparent 25%,
      transparent 75%,
      #b2738e 75%,
      #b2738e
    );
  background-size: 3px 3px;
  display: block;
}

.desktop-icon.selected span {
  background-color: #b2738e;
  color: white;
}
