/* Taskbar styles */
#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #cac6cb;
  display: flex;
  align-items: center;
  z-index: 5;
  box-shadow: inset 0 2.5px 0 0 #fcfcfc;
  padding-top: 3px;
}

/* Start button styles */
#start-button {
  display: flex;
  align-items: center;
  margin-left: 4px;
  height: 36px;
  padding-right: 10px;
  padding-left: 6px;
  background-color: #cac6cb;
  font-weight: bold;
  font-size: 20px;
  border: none;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #cac6cb;
}

#start-button img.start-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

#start-button:focus {
  outline: 1px dotted #263238;
  outline-offset: -6px;
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238,
    inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
}

/* Start menu styles */
#start-menu-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  bottom: 40px;
  left: 5px;
  background: #cac6cb;
  position: absolute;
  z-index: 20;
  padding: 4px;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #dedcde;
}

#start-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 230px;
  position: relative;
}

#start-menu::before {
  content: "";
  display: block;
  background-color: #8e9699;
  width: 32px;
  height: 100%;
  position: absolute;
}

/* Menu items */
#start-menu ul {
  padding: 0;
  margin: 0;
  margin-left: 31px;
}

#start-menu li {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
  color: #263238;
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 30px;
}

#start-menu li:nth-last-child(2) {
  border-bottom: 1.5px solid #a099a1;
}

#start-menu li:last-child {
  border-top: 1.5px solid #fcfcfc;
}

#start-menu li:hover {
  background-color: #577783;
  color: white;
}

#start-menu li:hover .highlight {
  color: white;
}

#start-menu li:last-child {
  border-bottom: none;
}

.highlight {
  text-decoration: underline;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 12px;
  vertical-align: middle;
}

/* Taskbar apps styles */
#taskbar-apps {
  display: flex;
  flex-grow: 1;
  margin-left: 4px;
  gap: 5px;
}

#notepad-task {
  display: flex;
  align-items: center;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #cac6cb;
  height: 36px;
  background-color: #cac6cb;
  padding-right: 10px;
  padding-left: 6px;
  border: none;
  width: 220px;
  justify-content: flex-start;
  font-size: 18px;
}

/* System tray styles */
#system-tray {
  display: grid;
  place-items: center;
  margin: 0px 4px;
  height: 34px;
  width: 100px;
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #a099a1;
}

#clock {
  font-size: 16px;
  color: #263238;
}
