.window {
  position: absolute;
  background: #cac6cb;
  padding: 6px;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #dedcde,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #fcfcfc;
}

.window-inside.notepad {
  max-width: calc(100vw - 36px);
  max-height: calc(100vh - 44px - 12px);
  min-width: 300px;
  min-height: 200px;
  width: 475px;
  height: 550px;
  overflow: hidden;
  resize: both;
}

.window-inside.browser {
  max-width: calc(100vw - 36px);
  max-height: calc(100vh - 44px - 12px);
  min-width: 300px;
  min-height: 200px;
  width: 1125px;
  height: 750px;
  overflow: hidden;
  resize: both;
}

.window-nav {
  background-color: #577783;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  padding: 0 3px;
  color: white;
  touch-action: none;
  line-height: 35px;
  cursor: grabbing;
}

.inactive .window-nav {
  background-color: #a099a1;
}

.window-nav h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 69px);
  margin: 0;
}

.window-nav h3::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-size: contain;
}

.window-label.notepad::before {
  background-image: url(../assets/icons/notepad.ico);
  background-repeat: no-repeat;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.window-label.browser::before {
  background-image: url(../assets/icons/browser.ico);
  background-repeat: no-repeat;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.window-label span {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 3px;
}

/* Button styles */
.buttons {
  display: flex;
}

.window-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 20px;
  background: #cac6cb;
  border: none;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #cac6cb;
}

.window-button:active {
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238,
    inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
}

.window-button::before {
  content: "";
  background-position: center center;
  background-size: contain;
}

.window-button:last-child {
  margin-left: 3px;
}

.window-button.minimize::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 7px;
  width: 9px;
  height: 3px;
  background: #263238;
  margin-right: 1px;
}

.window-button.maximize::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 7px;
  background-color: #cac6cb;
  border: 1.75px solid #263238;
  border-top-width: 3px;
  margin-right: 1px;
}

/* Menu styles */
.menu-bar {
  display: flex;
  padding: 2px 0;
  background-color: #cac6cb;
  font-size: 18px;
  list-style: none;
}

.menu-item {
  position: relative;
  padding: 4px 10px;
  cursor: default;
}

.menu-item:hover {
  background-color: #577783;
  color: white;
  cursor: pointer;
}

.menu-item:hover .dropdown {
  display: block;
}

.menu-item:hover .highlight {
  color: white;
}

.highlight {
  text-decoration: underline;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cac6cb;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #dedcde,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #fcfcfc;
  list-style: none;
  width: 160px;
  z-index: 100;
  padding: 6px;
}

.dropdown li {
  padding: 6.5px 30px;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown hr {
  margin: 4px 0;
  border: 0;
  height: 3px;
  width: 100%;
  cursor: default;
  background: linear-gradient(to bottom, #a099a1 0%, #a099a1 50%, #fcfcfc 50%);
}

.dropdown li:hover {
  background-color: #577783;
  color: white;
}

.dropdown li .highlight {
  color: #263238 !important;
}

.dropdown li:hover .highlight {
  color: white !important;
}

/* Window content styles */
.window-content {
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #a099a1,
    inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #263238;
  padding: 3px;
  height: calc(100% - 60px);
  overflow: hidden;
}

.window-content.browser {
  overflow: hidden;
  box-sizing: border-box;
  height: calc(100% - 95px);
}

.window-content.browser iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.window-content textarea {
  font-size: 21px;
  border: 0;
  padding: 4px;
  resize: none;
  overflow: scroll;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.window-content textarea::-webkit-scrollbar-corner {
  background-color: #cac6cb;
}

.window-content textarea::selection {
  background-color: #577783;
  -webkit-tap-highlight-color: #577783;
  color: white;
}

.window-content textarea::-webkit-scrollbar {
  width: 24px;
  height: 24px;
}

.window-content textarea::-webkit-scrollbar-button {
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #dedcde;
  width: 24px;
  height: 24px;
  background-color: #cac6cb;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: default;
}

.window-content textarea::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
  border: 1.5px solid #a099a1;
  box-shadow: none;
}

.window-content textarea::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../assets/icons/up.png);
}

.window-content textarea::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../assets/icons/down.png);
}

.window-content textarea::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url(../assets/icons/left.png);
}

.window-content textarea::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(../assets/icons/right.png);
}

.window-content textarea::-webkit-scrollbar-thumb {
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #dedcde;
  width: 24px;
  height: 24px;
  background-color: #cac6cb;
  z-index: 1;
  cursor: default;
}

.window-content textarea::-webkit-scrollbar-track {
  background-color: #f0ebeb;
  background-image: linear-gradient(
      45deg,
      #efeef0 25%,
      transparent 25%,
      transparent 75%,
      #efeef0 75%,
      #efeef0
    ),
    linear-gradient(
      45deg,
      #efeef0 25%,
      transparent 25%,
      transparent 75%,
      #efeef0 75%,
      #efeef0
    );
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px;
  cursor: default;
}

.window-content textarea:focus {
  outline: none;
}

/* Browser address bar styles */
.divider {
  border: 0;
  height: 2px;
  width: 100%;
  cursor: default;
  background: linear-gradient(to bottom, #a099a1 0%, #a099a1 50%, #fcfcfc 50%);
}

.address-bar {
  display: flex;
  align-items: center;
  padding: 4px 0px 4px 10px;
}

.address-bar span {
  font-size: 18px;
  margin-right: 4px;
}

.input-container {
  position: relative;
  width: 100%;
}

.address-bar input {
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #a099a1,
    inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #263238;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 18px;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
}

.input-button {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #cac6cb;
  height: 24px;
  width: 24px;
  background-color: #cac6cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-button img {
  width: 15px;
  height: 15px;
  display: flex;
}

.input-button:active {
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238,
    inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
}
